section.about
  .container
    +blockBox("What we do", "STORY ABOUT US", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.")
    ul.about-list
      //- li.about-item
      //-   img.about-image(src="../images/img-about1.png", alt="")
      //-   .about-content
      //-     i.fa.fa-users.about-icon
      //-     p.about-text Super team
      //- li.about-item
      //-   img.about-image(src="../images/img-about2.png", alt="")
      //-   .about-content
      //-     i.fa.fa-users.about-icon
      //-     p.about-text Creativity
      //- li.about-item
      //-   img.about-image(src="../images/img-about3.png", alt="")
      //-   .about-content
      //-     i.fa.fa-users.about-icon
      //-     p.about-text digital
      +aboutItem("../images/img-about1.png", "digital", "fa fa-user")
      +aboutItem("../images/img-about2.png", "Super team", "fa fa-user")
      +aboutItem("../images/img-about3.png", "Creativity", "fa fa-user")
