section.device
  .container
    +blockBox("For all devices", "UNIQUE DESIGN")
    //- cachs 1
    //- .device-media
    //-   img(src="../images/img-devices.png", alt="").device-image
    img(src="../images/img-devices.png", alt="").device-image