header.header
  .container
    .header-top 
      a.header-logo(href="#") Mogo
      ul.header-menu 
        li.header-menu-item(class="active")
          a.header-menu-link(href="#") Home
        li.header-menu-item
          a.header-menu-link(href="#") About
        li.header-menu-item
          a.header-menu-link(href="#") Service
        li.header-menu-item
          a.header-menu-link(href="#") Work
        li.header-menu-item
          a.header-menu-link(href="#") Blog
        li.header-menu-item
          a.header-menu-link(href="#") Contact
        li.header-menu-item
          a.header-menu-icon(href="#")
            i.fa.fa-shopping-cart
        li.header-menu-item
          a.header-menu-icon(href="#")
            f.fa.fa-search
    .header-content
      h2.header-content-caption Creative template
      h1.header-content-title Welcome to Mogo
      a.header-content-more(href="#") Learn more
    .header-bottom