//- những đoạn code lặp đi lặp lại nhiều lần
mixin ListItem(title = "default title", caption)
	li.list-item 
		h2.list-title= title 
		if caption 
			span.list-caption= caption 
			//- giống slot, điền thêm đoạn html mà k khai báo trong mixin
		if block
			block
