section.number 
  .container
    .number-list
      .number-item
        h4.number-item-count 42
        span.number-item-text Web design project
      .number-item
        h4.number-item-count 123
        span.number-item-text HAPPY CLIENT
      .number-item
        h4.number-item-count 15
        span.number-item-text AWARD WINNER
      .number-item
        h4.number-item-count 99
        span.number-item-text CUP OF COFFEE
      .number-item
        h4.number-item-count 24
        span.number-item-text MEMBERS