section.quote
  .container
    .quote-container
      i.fal.fa-angle-left.quote-arrow
      img(src="../images/img-quote.png", alt="").quote-image
      .quote-content
        p.quote-text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium dolor aut minus ullam vel est velit cumque, fugit explicabo, molestias ut voluptatem iusto, reprehenderit qui nulla mollitia debitis optio iste?
        p.quote-sign Jon Doe
      i.fal.fa-angle-right.quote-arrow