section.service
  .container
    +blockBox("We work with", "AMAZING SERVICES")
    .service-list
      +serviceItem("../images/img-service-icon1.png", "PHOTOGRAPHY", "Photography is the science, art and practice of creating   durable images by recording light or other electromagnetic radiation")

      +serviceItem("../images/img-service-icon2.png", "WEB DESIGN", "Web design encompasses many different skills and disciplines in the production and maintenance of websites.")

      +serviceItem("../images/img-service-icon3.png", "CREATIVITY", "Creativity is a phenomenon whereby something new and somehow valuable is formed. The created item may be intangible or a physical object.")
      
      +serviceItem("../images/img-service-icon4.png", "SEO", "Search engine optimization (SEO) is the process of affecting the visibility of a website or a web page in a web search engine's unpaid results.")

      +serviceItem("../images/img-service-icon5.png", "CSS/HTML", "HyperText Markup Language, commonly abbreviated as HTML, is the standard markup language used to create web pages.")

      +serviceItem("../images/img-service-icon6.png", "DIGITAL", "With digital signals, system noise, provided it is not too great, will not change the quantification whereas with signals handled using analog processing.")