section.team
  .container
  +blockBox("Who we are", "MEET OUR TEAM", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.")
  .team-list
    .team-item
      .team-item-top
        img(src="../images/img-team1.png", alt="").team-image
        .team-overlay
          .team-social
            i.fab.fa-facebook.team-icon
            i.fab.fa-twitter.team-icon
            i.fab.fa-pinterest.team-icon
            i.fab.fa-instagram.team-icon
      .team-content
        p.team-name MATTHEW DIX
        p.team-position Graphic Design122