.header {
  min-height: 100rem;
  background: linear-gradient(to bottom, rgba($primary-color, 0.8), rgba($secondary-color,0.8)), url("../images/img-header-bg.jpg") no-repeat center / cover ;
  color: #fff;
  
  &-top {
    padding-top: 3rem;
    display: flex;
    align-items: baseline; //căn theo đich chữ, k quan tam padding bottom, margin-bottom
    justify-content: space-between;
  }

  &-logo {
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
  }

  &-menu {
    display: flex;
    align-items: center;

    &-link {
      color: #fff;
      text-transform: uppercase;
      display: inline-block;
      padding-bottom: 7px;
      border-bottom: 3px solid transparent;
      transition: all 0.25s linear;

      
    }
    
    &-icon {
      display: inline-block;
      border-bottom: 3px solid transparent;
      padding-bottom: 7px;
    }

    &-icon {
      color: #fff;
    }
  }

  &-content {
    padding-top: 17rem;
    text-align: center;
    color: #fff;
    max-width: 80rem;
    margin: 0 auto;

    &-caption {
      font-family: $third-font;
      font-size: 7.2rem;
      margin-bottom: 3rem;
    }

    &-title {
      font-size: 15rem;
      font-weight: 700;
      text-transform: uppercase;
      padding-bottom: 5rem;
      position: relative;
      margin-bottom: 5rem;

      &:before {
        position: absolute;
        content: " ";
        width: 6rem;
        height: 5px;
        background-color: #fff;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

      }
    }

    &-more {
      color:#fff;
      font-size: 2rem;
      text-transform: uppercase;
      border: 4px solid #fff;
      display: inline-block;
      padding: 1rem 3rem;
      font-weight: bold;
    }
  }
  
  &-bottom {
    margin-top: 15.5rem;
    padding-bottom: 2.5rem;
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
    // margin-left: -3rem;
    
  }

  &-tab-item {
    border-top: 5px solid #fff;
    padding-top: 2.5rem;
    width: calc(25% - 30px);
    margin-left: 3rem;
    position: relative;
    cursor: pointer;
    transition: all 0.25s linear;
    opacity: 0.8;

    &:after {
      content: "";
      position: absolute;
      height: 5px;
      width: 7rem;
      background-color: $primary-color;
      top: 0;
      left: 0;
      transform: translateY(-100%);
      opacity: 0;
      transition: all 0.25s linear;
    }
    &:hover,
    &.is-active {
      opacity: 1;
      &:after {
        opacity: 1;
      }
    }
  }

  &-tab-title {
    font-weight: bold;
    display: inline-block;
    margin-right: 1rem;
    font-size: 2.4rem;
  }

  &-tab-content {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.8rem;
  }

  &-toggle {
    display: none;
    font-size: 3rem;
    cursor: pointer;
  }

  @media screen and (min-width: 768px) {
    &-menu-item:not(:first-child) {
      margin-left: 3rem;
    }
    &-menu-link:hover {
      color: $secondary-color;
      border-color: $secondary-color; 
    }
  }

  @media screen and(max-width: 1023px) {
    min-height: unset;

    .header-content-title {
      font-size: 11rem;
    } 
    .header-bottom {
      margin-top: 10rem;
    }
    .header-content {
      padding-top: 10rem;
    }
  }

  @media screen and (max-width: 767px) {

    .header-tab-content {
      display: none;
    }
    .header-content-caption {
      font-size: 3rem;
      margin-bottom: 1rem;
    }
    .header-content-title {
      font-size: 5rem;
      margin-bottom: 3rem;
      padding-bottom: 3rem;
    }
    .header-tab-item {
      padding-top: 1.5rem;
    }
    .header-tab-item:after {
      width: 40%;
    }
    .header-bottom {
      margin-top: 5rem;
    }
    .header-content {
      padding-top: 5rem;
    }
    .header-menu {
      position: fixed;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: #fff;
      width: 30rem;
      display: block;
      padding: 2rem 2.5rem;
      z-index: 10;
      transform: translateX(100%);
      transition: all 0.25s ease-in-out;
    }
    .header-menu.is-expand {
      transform: translateX(0);
    }
    .header-menu-item {
      margin-bottom: 1rem;
    }
 
    .header-menu-link,
    .header-menu-icon {
      color: $title-color;
      width: 100%;
      padding: 1.5rem;
      border-radius: 4px;

      &:hover {
        color: #fff;
        background-color: $primary-color;
      }
    }

    .header-toggle {
      display: inline-block;
      
    }

    .header-toggle:active + .header-menu {
      transform: translateX(-50px);
    }
    
  }
  
}