html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }

img {
  display: block;
  max-width: 100%; }

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  color: #333;
  font-size: 1.4rem; }

.header {
  min-height: 100rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(233, 131, 130, 0.8)), to(rgba(238, 216, 137, 0.8))), url("../images/img-header-bg.jpg") no-repeat center/cover;
  background: linear-gradient(to bottom, rgba(233, 131, 130, 0.8), rgba(238, 216, 137, 0.8)), url("../images/img-header-bg.jpg") no-repeat center/cover;
  color: #fff; }
  .header-top {
    padding-top: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .header-logo {
    color: #fff;
    font-size: 3rem;
    font-weight: bold; }
  .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header-menu-link {
      color: #fff;
      text-transform: uppercase;
      display: inline-block;
      padding-bottom: 7px;
      border-bottom: 3px solid transparent;
      -webkit-transition: all 0.25s linear;
      transition: all 0.25s linear; }
    .header-menu-icon {
      display: inline-block;
      border-bottom: 3px solid transparent;
      padding-bottom: 7px; }
    .header-menu-icon {
      color: #fff; }
  .header-content {
    padding-top: 17rem;
    text-align: center;
    color: #fff;
    max-width: 80rem;
    margin: 0 auto; }
    .header-content-caption {
      font-family: "Kaushan Script", cursive;
      font-size: 7.2rem;
      margin-bottom: 3rem; }
    .header-content-title {
      font-size: 15rem;
      font-weight: 700;
      text-transform: uppercase;
      padding-bottom: 5rem;
      position: relative;
      margin-bottom: 5rem; }
      .header-content-title:before {
        content: " ";
        width: 6rem;
        height: 5px;
        background-color: #fff;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: 0; }
    .header-content-more {
      color: #fff;
      font-size: 2rem;
      text-transform: uppercase;
      border: 4px solid #fff;
      display: inline-block;
      padding: 1rem 3rem;
      font-weight: bold; }
  .header-bottom {
    margin-top: 15.5rem;
    padding-bottom: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .header-tab-item {
    border-top: 5px solid #fff;
    padding-top: 2.5rem;
    width: calc(25% - 30px);
    margin-left: 3rem;
    position: relative;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    opacity: 0.8; }
    .header-tab-item:after {
      content: "";
      position: absolute;
      width: 7rem;
      height: 5px;
      background-color: #e98382;
      top: 0;
      left: 0;
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
      opacity: 0;
      -webkit-transition: all 0.25s linear;
      transition: all 0.25s linear; }
    .header-tab-item:hover, .header-tab-item.is-active {
      opacity: 1; }
      .header-tab-item:hover:after, .header-tab-item.is-active:after {
        opacity: 1; }
  .header-tab-title {
    font-weight: bold;
    display: inline-block;
    margin-right: 1rem;
    font-size: 2.4rem; }
  .header-tab-content {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.8rem; }
  .header-toggle {
    display: none;
    font-size: 3rem;
    cursor: pointer; }
  @media screen and (min-width: 768px) {
    .header-menu-item:not(:first-child) {
      margin-left: 3rem; }
    .header-menu-link:hover {
      color: #eed889;
      border-color: #eed889; } }
  @media screen and (max-width: 1203px) {
    .header {
      min-height: unset; }
      .header .header-content-title {
        font-size: 11rem; }
      .header .header-bottom {
        margin-top: 10rem; }
      .header .header-content {
        padding-top: 10rem; } }
  @media screen and (max-width: 767px) {
    .header .header-tab-content {
      display: none; }
    .header .header-content-caption {
      font-size: 3rem;
      margin-bottom: 1rem; }
    .header .header-content-title {
      font-size: 5rem;
      margin-bottom: 3rem;
      padding-bottom: 3rem; }
    .header .header-tab-item {
      padding-top: 1.5rem; }
    .header .header-tab-item:after {
      width: 40%; }
    .header .header-bottom {
      margin-top: 5rem; }
    .header .header-content {
      padding-top: 5rem; }
    .header .header-menu {
      position: fixed;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: #fff;
      width: 30rem;
      display: block;
      padding: 2rem 2.5rem;
      z-index: 10;
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      -webkit-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out; }
    .header .header-menu.is-expand {
      -webkit-transform: translateX(0);
      transform: translateX(0); }
    .header .header-menu-item {
      margin-bottom: 1rem; }
    .header .header-menu-link,
    .header .header-menu-icon {
      color: #333;
      width: 100%;
      padding: 1.5rem;
      border-radius: 4px; }
      .header .header-menu-link:hover,
      .header .header-menu-icon:hover {
        color: #fff;
        background-color: #e98382; }
    .header .header-toggle {
      display: inline-block; }
    .header .header-toggle:active + .header-menu {
      -webkit-transform: translateX(-50px);
      transform: translateX(-50px); } }

.wrapper {
  max-width: 1920px;
  margin: 0 auto; }

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px; }

.block-box {
  text-align: center; }
  .block-box-caption {
    font-family: "Kaushan Script", cursive;
    font-size: 2.4rem;
    margin-bottom: 2rem; }
  .block-box-title {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    margin-bottom: 3.5rem;
    position: relative; }
    .block-box-title:before {
      content: "";
      width: 7rem;
      height: 0.4rem;
      background-color: #e98382;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      bottom: 0; }
  .block-box-desc {
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    color: #999;
    line-height: 1.4;
    font-weight: 300;
    max-width: 70rem;
    text-align: center;
    margin-bottom: 5rem;
    margin-left: auto;
    margin-right: auto; }
  @media screen and (max-width: 767px) {
    .block-box-caption {
      font-size: 2rem; }
    .block-box-title {
      font-size: 2.5rem;
      margin-bottom: 2.5rem;
      padding-bottom: 2.5rem; }
    .block-box-desc {
      font-size: 1.4rem;
      margin-bottom: 4rem; } }

.about {
  padding-top: 9.3rem;
  padding-bottom: 11rem; }
  .about-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: -3rem; }
  .about-item {
    margin-left: 3rem;
    position: relative;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear; }
  .about-item:hover {
    -webkit-transform: translate(-1rem, -1rem);
    transform: translate(-1rem, -1rem); }
    .about-item:hover .about-content {
      opacity: 1;
      visibility: visible; }
    .about-item:hover:after {
      -webkit-transform: translate(1rem, 1rem);
      transform: translate(1rem, 1rem); }
  .about-item:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #95e1d3;
    z-index: -1;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear; }
  .about-content {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(233, 131, 130, 0.8)), to(rgba(238, 216, 137, 0.8)));
    background: linear-gradient(to bottom, rgba(233, 131, 130, 0.8), rgba(238, 216, 137, 0.8));
    z-index: 2;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: 1920px;
    flex-wrap: 1920px;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: bold; }
  .about-icon {
    margin-bottom: 1rem; }
  @media screen and (max-width: 767px) {
    .about {
      padding-top: 5rem;
      padding-bottom: 5rem; }
      .about-list {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 1rem; }
      .about-item {
        margin-bottom: 3rem;
        width: 100%; } }

.number {
  background-color: #95e1d3;
  color: #fff; }
  .number-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-wrap: 1920px;
    flex-wrap: 1920px; }
  .number-item {
    width: 20%;
    border-left: 1px solid #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: 1920px;
    flex-wrap: 1920px;
    padding: 8.5rem 3rem;
    text-align: center; }
    .number-item:last-child {
      border-right: 1px solid #fff; }
    .number-item-count {
      font-size: 7rem;
      font-weight: bold;
      margin-bottom: 2rem; }
    .number-item-text {
      text-transform: uppercase;
      line-height: 1.4; }
  @media screen and (max-width: 1023px) {
    .number-item {
      padding: 5rem 1.5rem; }
    .number-item-count {
      font-size: 5rem;
      margin-bottom: 1rem; } }
  @media screen and (max-width: 767px) {
    .number-list {
      display: block; }
    .number-item {
      width: 100%;
      border-left: 0;
      padding: 2.5rem 1.5rem; }
    .number-item:last-child {
      border-right: 0; }
    .number-item:not(:last-child) {
      border-bottom: 1px solid #fff; } }

.service {
  padding-top: 9rem; }
  .service-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-wrap: 1920px;
    flex-wrap: 1920px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .service-item {
    width: 33.33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-wrap: 1920px;
    flex-wrap: 1920px;
    padding: 6rem 1.5rem;
    margin-bottom: 6rem; }
    .service-item:nth-child(-n+3) {
      border-bottom: 1px solid #ccc; }
  .service-image {
    width: 3rem;
    height: 3rem;
    margin-right: 2.5rem; }
  .service-title {
    margin-bottom: 1rem;
    text-transform: uppercase; }
  .service-desc {
    font-size: 1.3rem;
    line-height: 1.4;
    color: #999; }
  @media screen and (max-width: 1023px) {
    .service {
      padding-top: 5rem; }
      .service-item {
        width: 50%;
        padding: 4rem 1.5rem;
        margin-bottom: 4rem; }
        .service-item:nth-child(-n+4) {
          border-bottom: 1px solid #ccc; } }
  @media screen and (max-width: 767px) {
    .service-item {
      width: 100%;
      padding: 2rem 1.5rem;
      margin-bottom: 2rem; }
      .service-item:not(:last-child) {
        border-bottom: 1px solid #ccc; } }

.device {
  padding-top: 9rem;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.5))), url("../images/img-device-bg.png");
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.5)), url("../images/img-device-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  .device-media {
    text-align: center; }
  .device-image {
    display: inline-block;
    margin-bottom: -9.3rem;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
  @media screen and (max-width: 767px) {
    .device-image {
      width: 80%;
      margin-bottom: -4.6rem; } }
  @media screen and (max-width: 413px) {
    .device-image {
      margin-bottom: -4.3rem; } }

.wedo {
  padding: 9rem 0rem; }
  .wedo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-wrap: 1920px;
    flex-wrap: 1920px; }
  .wedo-image, .wedo-content {
    width: calc(50% - 1.5rem); }
  .wedo-image {
    -o-object-fit: cover;
    object-fit: cover; }
  .wedo-item {
    border-collapse: collapse;
    margin-bottom: 1rem; }
    .wedo-item-header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: 1920px;
      flex-wrap: 1920px;
      padding: 1.5rem 2rem;
      text-transform: uppercase;
      cursor: pointer;
      border: 1px solid #ccc; }
    .wedo-item-icon {
      margin-right: 1.5rem; }
    .wedo-item-title {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden; }
    .wedo-item-arrow {
      margin-left: auto;
      color: #ccc;
      font-size: 2.5rem; }
    .wedo-item-content {
      padding: 1.5rem;
      color: #999;
      font-size: 1.3rem;
      line-height: 1.4;
      font-family: "Roboto", sans-serif;
      font-style: italic;
      border: 1px solid #ccc;
      border-top: none;
      display: none; }
    .wedo-item-text {
      height: 13rem;
      overflow-y: auto;
      padding-right: 1.5rem; }
      .wedo-item-text::-webkit-scrollbar {
        width: 6px; }
      .wedo-item-text::-webkit-scrollbar-track {
        background-color: #f5f5f5;
        border-radius: 2rem; }
      .wedo-item-text::-webkit-scrollbar-thumb {
        background-color: #95e1d3;
        border-radius: 2rem; }
    .wedo-item.active .wedo-item-content {
      display: block; }
  @media screen and (max-width: 1023px) {
    .wedo {
      padding: 5rem 0; } }
  @media screen and (max-width: 767px) {
    .wedo-container {
      display: block; }
    .wedo-image, .wedo-content {
      width: 100%; }
    .wedo-image {
      margin-bottom: 3rem; } }

.test {
  height: 40rem;
  width: 58rem;
  background-image: url("../images/img-wedo.png");
  position: relative; }
  .test-background {
    position: absolute;
    width: 100%;
    height: 100%; }

.quote {
  background-color: #f8f8f8;
  padding: 6rem 2rem; }
  .quote-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: 1920px;
    flex-wrap: 1920px; }
  .quote-arrow {
    font-size: 3rem;
    color: #ccc;
    width: 4rem;
    height: 4rem;
    cursor: pointer; }
  .quote-image {
    border: 2px solid #95e1d3;
    padding: 2rem;
    margin-left: 5rem; }
  .quote-content {
    padding-left: 5rem;
    padding-right: 5rem; }
  .quote-text {
    font-size: 1.8rem;
    line-height: 1.6;
    color: #999;
    margin-bottom: 3rem; }
  .quote-sign {
    font-family: "Kaushan Script", cursive;
    font-size: 1.8rem;
    color: #999;
    padding-left: 6rem;
    position: relative; }
    .quote-sign::before {
      position: absolute;
      content: "";
      width: 5rem;
      height: 2px;
      background-color: #e98382;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
  @media screen and (max-width: 767px) {
    .quote {
      padding: 2rem; }
      .quote-image {
        display: none; }
      .quote-text, .quote-sign {
        font-size: 1.3rem;
        line-height: 1.2;
        font-weight: 300; }
      .quote-text {
        margin-bottom: 1rem; }
      .quote-content {
        padding: 0.5rem; } }

.team {
  padding: 8rem 10rem; }
  .team-item {
    width: calc(33.33% - 2rem); }
